body {
    margin: 0;
    padding: 0;
    background-color: rgb(113, 163, 255);
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden;*/
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin: auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

th, td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;
}

tr {
    border: 2px solid #322873;
    border-left-color: #2a1e69;
!important;
    border-right-color: #2a1e69;
!important;
    border-top-color: rgba(51, 33, 133, 0.01);
!important;
}

a.page-link {
    border-radius: 4px;
    margin: auto;
    background-color: rgba(211, 232, 254, 0);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.39);
    font-weight: bolder;
}

li.page-item {
    padding: 2px;
}

.shadow-custom-1 {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.text-shadow-custom-1 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    color: black;
    -webkit-text-fill-color: rgb(3, 122, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(246, 253, 255);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.dv-background {
    opacity: 0.3;
    filter: alpha(opacity=30);
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 1px;
    z-index: 2000000;

}

.loading {

}

.dv-loading {
    position: fixed;
    z-index: 3000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

.dots-loader:not(:required) {
    opacity: 1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    text-indent: -9999px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 100%;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    animation: dots-loader 5s infinite ease-in-out;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: .3s all;
}

@keyframes dots-loader {
    0% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
    8.33% {
        box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
    16.67% {
        box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
    25% {
        box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
    33.33% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
    }
    41.67% {
        box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }
    50% {
        box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }
    58.33% {
        box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }
    66.67% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }
    75% {
        box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }
    83.33% {
        box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
    }
    91.67% {
        box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
    100% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
}

.loaded .dots-loader {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transform: scale(0);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}
